/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/assemblyeval -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
workDir = '/media/admin-compgen/Data_Volume/Nextflow/work'

trace.fields = "task_id,native_id,hash,name,status,exit,submit,duration,realtime,%cpu,%mem,peak_rss,peak_vmem,rchar,wchar,cpus,disk,memory,container,rss,vmem"

process {
   beforeScript = { "echo {\"runName\": \"${workflow.runName}\", \"container\": \"${workflow.container}\", \"containerEngine\": \"${workflow.containerEngine}\", \"profile\": \"${workflow.profile}\", \"outputDir\": \"${workflow.outputDir}\", \"params\": \"${params}\", \"commandLine\": \"${workflow.commandLine}\", \"configFiles\": \"${workflow.configFiles}\", \"scriptFile\": \"${workflow.scriptFile}\", \"scriptName\": \"${workflow.scriptName}\", \"scriptId\": \"${workflow.scriptId}\"}" }
}

params {
    config_profile_name        = 'D. melanogaster profile'
    config_profile_description = 'D. melanogaster dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 24
    max_memory = '64.GB'
    max_time   = '72.h'

    validate_params = false
    busco = false
    skip_correctness = false
    

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    // input  = 'https://raw.githubusercontent.com/nf-core/test-datasets/viralrecon/samplesheet/samplesheet_test_illumina_amplicon.csv'
    input = './assets/chla_dmelanogaster.yaml'
    domain = 'euk' // --prok || --euk
    aligner = 'bwa'

    // Genome references
    // genome = 'Ctrachomatis'

    skip_contamination = true
}
